/* @import url("https://fonts.cdnfonts.com/css/gt-walsheim-trial"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "flowbite";

@layer base {
  @font-face {
    font-family: "GT Walsheim Pro";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/fonts/GTWalsheimPro-Medium.woff2) format("woff2");
  }
}

@layer base {
  body {
    font-family: "GT Walsheim Pro", sans-serif;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --color-primary-1: #0a7415;
    --color-primary-2: #005924;
    --color-black-1: #222;
    --color-yellow-1: #ffb800;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer components {
  .bg-home-hero {
    background-color: rgba(0, 89, 36, 0);
    background-image: url(https://cdn.prod.website-files.com/6328815dfe3fef784e0c693e/65ea7b5b968954ebaf084b94_Group%202438.webp);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .nav-shadow {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  @media screen and (max-width: 1023px) {
    .bg-home-hero {
      background-image: none;
      background-color: var(--color-primary-2);
    }
  }
}

@layer utilities {
  .section-padding {
    @apply px-0 md:px-4 lg:px-12;
  }

  .bg-shade-rounded {
    @apply before:absolute before:w-full before:h-full before:inset-0 before:rounded-[40px] 
    before:bg-gradient-to-r before:from-green-600 before:via-blue-500 before:to-indigo-700 
    before:z-[-1] before:blur-[15px] before:opacity-0 hover:before:opacity-100 
    before:transition before:ease-in before:duration-300;
  }

  .bg-shade {
    @apply bg-gradient-to-r from-green-600 via-blue-500 to-indigo-700
    blur-[15px];
  }
}
